.swapMe img { 
  -webkit-transition: all 1s ease-in-out; 
  -moz-transition: all 1s ease-in-out; 
  -ms-transition: all 1s ease-in-out; 
  -o-transition: all 1s ease-in-out; 
  transition: all 1s ease-in-out; }

.swap1, .swapMe:hover .swap2 { 
  -webkit-opacity: 1; 
  -moz-opacity: 1; 
  opacity: 1; } 

.swapMe:hover .swap1, .swap2 { 
  -webkit-opacity: 0; 
  -moz-opacity: 0; 
  opacity: 0; }